@import "./colors";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: "Montserrat", sans-serif;
	color: $white;
	background-color: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.is-active {
	display: block;
}

.btn {
	display: block;
	margin: 45px auto;
	padding: 10px 40px;
	color: $white;
	border-radius: 25px;
	transition: background 0.4s linear;
	cursor: pointer;
}

.title {
	position: relative;
	margin: 50px 0 20px;
	padding-bottom: 15px;
	font-size: 35px;
	font-weight: lighter;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 2px;
		width: 25%;
		background-color: $green;
	}
	&-text {
		margin-bottom: 0 20px 20px;
		width: 80%;
		font-size: 12px;
		text-align: center;
	}
}

// HEADER

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&__company-name {
		position: absolute;
		top: 40px;
		left: 10%;
		font-size: 24px;
		letter-spacing: 2px;

		&::after {
			content: "";
			position: absolute;
			width: 3px;
			height: 3px;
			bottom: 4px;
			right: -4px;
			background-color: $green;
			border-radius: 50%;
		}
	}
	&__img {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url("../img/header -lg.jpg");
		background-size: cover;
		background-position: center;
		z-index: -10;
	}

	&__title {
		text-align: center;
		margin: 0 15px 50px 15px;
		padding-top: 40px;
		word-spacing: 3px;
	}

	&__span {
		font-weight: 200;
	}

	&__sentence {
		margin: 30px 15px 0 15px;
		text-align: center;
	}

	&__btn {
		background: none;
		border: 1px solid $white;

		&:hover {
			background: $green;
		}
	}
}

.hamburger {
	position: absolute;
	right: 10%;
	top: 40px;
	padding: 0;
	z-index: 500;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $white;
	}

	&.is-active &-inner,
	&.is-active &-inner::before,
	&.is-active &-inner::after {
		width: 35px;
		background-color: $white;
		z-index: 500;
	}
}

.nav {
	position: absolute;
	top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;

	&__links {
		position: absolute;
		right: 0;
		margin-right: 40px;
		display: block;
	}

	&__link {
		padding: 0 20px;
		margin: 18px;
		color: $white;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		transform: translateX();
	}

	&__search {
		position: absolute;
		right: 0;
		cursor: pointer;
	}

	&-mobile {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #040614;
		z-index: 100;
		transform: translateY(-100%);
		transition: transform 0.6s linear;

		&--active {
			transform: translateY(0);
		}
	}

	&-desktop {
		display: none;
	}
}

// ABOUT

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: $grey;

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 80px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 80px;
	}

	&__icon-box {
		position: relative;
		margin-bottom: 40px;
		height: 150px;
		width: 150px;
		background-color: $lightgrey;
		color: $grey;
		border-radius: 50%;
		transition-duration: 0.5s;

		&:hover {
			color: $white;
			background-color: $green;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 40px;
	}

	&__name {
		margin-bottom: 30px;
		font-size: 20px;
		font-weight: bold;
		color: $darkgrey;
	}

	&__text {
		width: 75%;
		font-size: 12px;
		text-align: center;
	}

	&__btn {
		margin: 0 auto 100px;
		background-color: $green;
		border: none;
	}
}

// WORK

.photography {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $lightgrey;
	color: $darkgrey;

	&__img {
		width: 100%;

		.image {
			width: 100%;
			object-fit: cover;
			// background-position: center;
			background-size: cover;
		}
	}

	&__box {
		padding: 30px 25px;
	}

	&__title {
		margin-bottom: 30px;
		font-size: 35px;
		font-weight: lighter;
		text-align: center;
	}

	&__text {
		font-size: 12px;
		text-align: justify;
	}

	&__btn {
		background-color: $green;
		border: none;
	}
}

// DESIGN

.design {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $white;
	color: $darkgrey;

	&__img {
		width: 100%;

		.image {
			width: 100%;
			object-fit: cover;
			// background-position: center;
		}
	}

	&__box {
		padding: 30px 25px;
	}

	&__title {
		margin-bottom: 30px;
		font-size: 35px;
		font-weight: lighter;
		text-align: center;
	}

	&__text {
		font-size: 12px;
		text-align: justify;
	}

	&__btn {
		background-color: $green;
		border: none;
	}
}

// CEO

.ceo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 400px;

	&__img {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url("../img/ceo-sm.jpg");
		background-size: cover;
	}

	&__shadow {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&__box {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 25px;

		img {
			display: block;
			margin: 40px auto;
			height: 100px;
			width: 100px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__text {
		text-align: center;
		font-weight: lighter;
	}

	&__cite {
		padding-bottom: 20px;
		font-size: 18px;

		spam {
			color: $green;
		}
	}

	&__name {
		font-size: 13px;
		color: $grey;

		spam {
			font-weight: bold;
		}
	}
}

// MEDIA

@media (min-width: 576px) {
	.about {
		&__items {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__item--one {
			flex: 50%;
		}
		&__item--two {
			flex: 50%;
		}
		&__item--three {
			flex: 50%;
		}
		&__item--four {
			flex: 50%;
		}
	}

	.photography {
		&__img {
			.image {
				height: 357px;
			}
		}
	}
	.design {
		&__img {
			.image {
				height: 357px;
			}
		}
	}
}

@media (min-width: 768px) {
	.photography {
		flex-direction: row;
		flex-wrap: wrap;

		&__img {
			flex: 50%;
		}
		&__box {
			flex: 50%;
		}

		&__btn {
			margin-left: 0;
		}

		&__title,
		&__text,
		&__btn {
			text-align: left;
		}
	}
	.design {
		flex-direction: row-reverse;
		flex-wrap: wrap;

		&__img {
			flex: 50%;
		}
		&__box {
			flex: 50%;
		}

		&__btn {
			margin-left: 0;
		}

		&__title,
		&__text,
		&__btn {
			text-align: left;
		}
	}
}

@media (min-width: 992px) {
	.nav__link {
		padding: 0 20px;
		font-size: 12px;
	}

	.header__title {
		margin-bottom: 20px;
		word-spacing: 3px;
	}

	.about {
		&__item--one {
			flex: 25%;
		}
		&__item--two {
			flex: 25%;
		}
		&__item--three {
			flex: 25%;
		}
		&__item--four {
			flex: 25%;
		}
	}

	.photography {
		&__img,
		&__box {
			max-width: 600px;
		}
	}
	.design {
		&__img,
		&__box {
			max-width: 600px;
		}
	}
}

@media (min-width: 1200px) {
	.hamburger {
		display: none;
		right: 15%;
	}

	.nav-desktop {
		display: block;
	}

	.header {
		&__company-name {
			position: absolute;
			top: 40px;
			left: 15%;
			font-size: 20px;
			letter-spacing: 2px;

			&::after {
				content: "";
				position: absolute;
				width: 3px;
				height: 3px;
				bottom: 4px;
				right: -4px;
				background-color: $green;
				border-radius: 50%;
			}
		}
	}
}
